.header {
    background-color: lightskyblue;
    color: whitesmoke;
    width: 100%;
    height: 100px;
    align-items: center;
}

.label {
    color:white;
    vertical-align: middle;
    padding: 10px;
}
